.Footer{
    width: 81.5%;
    margin: auto;
    height: auto;
    background-color: rgb(20, 16, 16);
}
.icon{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.Links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}
.Links a{
    text-decoration: none;
    color: white;
    font-family:"Roboto Mono", monospace;
}
.Copyright{
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family:"Roboto Mono", monospace;
}
.Copyright span {
    color: aqua;
}